# Python
__pycache__/
*.py[cod]
*.class
venv/
.env
*.log

# Docker
postgres_data/
pgadmin_data/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets
*.key
*.pem
venv/
legacy/logs/
logs/
dbt/profiles.yml
